# STT plugins
ovos-stt-plugin-server

# WakeWord plugins
ovos-ww-plugin-vosk
ovos_ww_plugin_precise_onnx

oauthlib~=4.0
SpeechRecognition>=3.8.1
PyAudio~=0.2
ovos-utils
ovos-bus-client
ovos-plugin-manager
ovos-config